// Config
support-for-ie = true
vendor-prefixes = webkit moz ms official

// Colors
color_text= #111
color_bg= #d9d9d9
color_link = black
color_link_hover = #f1f1f1
color_disabled = #ddd

color_active_link_bg = #164b78
color_navbar_bg = white
color_sidenav_link = white
color_sidenav_hover = green
color_footer_text = white
color_footer_bg = black
color_shadow = alpha(black, 0.8)
color_border_line = #404040
color_thumb_bg = alpha(#f9f7f3, 0.5)
color_top_title = color_link_hover
color_page_title = #b85b3f
color_title_shadow = #e8e3c7

// Top page
color_home_link = #164b78
color_home_link_hover = color_link_hover
color_home_btn = color_text
color_home_btn_hover = color_link_hover

// Contact
color_contact_btn = #0388CA
color_contact_btn_hover = #164b78
color_contact_btn_text = white
color_contact_error = red

// Blog
color_blog_bg = #f9f9f9
color_blog_post_bg = white
color_blog_post_border_line = rgba(0,0,0,.05)
color_blog_post_border_shadow = rgba(0,0,0,.05)


color-default = #444
color-gray = #999
color-border = #e3e3e3
color-navy = hsl(210, 25%, 12%)
color-link = #0e83cd
color-link-hover = lighten(color-link, 10%)

// Typography
font_default = "Helvetica Neue", Helvetica, Arial, sans-serif
font_default2 = 'Fjalla One', 'Georgia', "Helvetica Neue", Helvetica, Arial, sans-serif
font_default3 = 'Roboto Condensed', 'Georgia', "Helvetica Neue", Helvetica, Arial, sans-serif
font_default4 = 'Cookie', cursive
font_default5 = 'Roboto Slab', serif

font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Monaco, Menlo, Consolas, monospace
font-title = Lato, font-sans
font-size = 15px
line-height = 1.6em

// Layout
max-width = 1200px
gutter-width = 20px
sidebar-width = 220px
mobile-nav-width = 260px

// Media queries
mq_mobile = "screen and (max-width: 768px)"
mq_normal = "screen and (min-width: 769px)"
mq_tablet = "screen and (min-width: 480px)"

mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-tablet = "screen and (min-width: 480px)"
