@import "nib"
@import "_variables"
@import "base"

@import "page"

.excerpt_img
  display: inline-block
  width: 300px
  padding: 0 15px 5px 0
  float: left
  @media mq_mobile
    display: block
    max-width: 100%
    float: inherit
    padding: 0 0 15px 0
